<div class="container">
    <h1>View Record</h1>
    <div>First Name: {{firstName}}</div>
    <div>Last Name: {{lastName}}</div>
    <div>Company: {{company}}</div>
    <div>Address: {{address}}</div>
    <div>Email Id: {{emailId}}</div>
    <button (click)="editRecord()" type="button" class="btn btn-success" style="margin-right: 20px;margin-top: 10px;">Edit</button>
<button (click)="deleteRecord()" type="button" class="btn btn-danger" style="margin-right: 20px;margin-top: 10px;">Delete</button>
</div>